<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css"> 
         <link rel="icon" href="/images/weather.png">
    </head>
    <body>
       <div class="main-content">
         {{>header}}
        <hp1>{{name}} </p>
       </div>

         {{>footer}}
        </body>
       
</html>